.app-header {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 20;
}

.app-title {
  font-size: 20px;
  padding: 6px 16px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.35);
  color: rgba(255,255,255,0.9);
  backdrop-filter: blur(4px);
}
